<div class="dialogs">
    <div class="close-bg"></div>
    <div class="flex-popup">
        <div class="popup" id="gift">
            <div class="popup__wrapper">
                <div class="close">
                    <img src="/assets/img/close-popup.svg" alt="close" loading="lazy">
                </div>
                <div class="popup__gift-image">
                    <img src="/assets/img/popup-gift.jpg" alt="">
                </div>
                <div class="popup__content">
                    <h2 class="h2 bold">10% на первый заказ</h2>
                    <h2 class="h2">За подписку</h2>
                    <p>Подпишитесь на рассылку горячих предложений и получите скидку 10% на первый заказ</p>
                    <form method="POST" class="popup__form">
                        <div class="input-group w-1_3">
                            <label for="email">Введите Email*</label>
                            <input type="email" id="email" name="name" class="input inpt-email" data-required="true"
                                data-error="Please fill this field" placeholder="alexey_one@yandex.ru">
                        </div>
                        <div class="buttons-row">
                            <button class="button--black medium" type="submit">
                                Подписаться
                            </button>
                            <button type="button" class="close-popup">Нет, спасибо</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>