<div class="features">
    <div class="features__item">
        <img src="/assets/img/features-icon1.svg" alt="feature-icon" class="features__icon">
        <div class="features__title">Личный консультант</div>
        <div class="features__txt">Поможет определить ваш размер и оформить заказ</div>
    </div>
    <div class="features__item">
        <img src="/assets/img/features-icon2.svg" alt="feature-icon" class="features__icon">
        <div class="features__title">Поставки из Италии</div>
        <div class="features__txt">Оригинальные коллекции напрямую от брендов</div>
    </div>
    <div class="features__item">
        <img src="/assets/img/features-icon3.svg" alt="feature-icon" class="features__icon">
        <div class="features__title">Быстрая доставка</div>
        <div class="features__txt">Товары отправляются со склада в Санкт-Петербурге</div>
    </div>
</div>