<div class="products-filter">
    <div class="products-filter__left">
        <a href="" class="products-filter__link mobile">Фильтры</a>
        <a href="" class="products-filter__link">Категория</a>
        <a href="" class="products-filter__link">Бренд</a>
        <a href="" class="products-filter__link">Размер</a>
        <a href="" class="products-filter__link">Цвет</a>
        <a href="" class="products-filter__link">Материал</a>
    </div>
    <a href="" class="products-filter__link">Сортировать по</a>
</div>