<section class="footer-banner">
    <div class="container">
        <div class="footer-banner__wrapper">
            <div class="footer-banner__part">
                <img src="/assets/img/footer-banner-left.jpg" alt="banner-img" class="bg-img" loading="lazy">
                <div class="footer-banner__info">
                    <span class="label label--white">Идея на подарок</span>
                    <h3 class="h3">Подарочные карты</h3>
                    <a href="" class="button--link">Купить  <i class="icon">→</i></a>
                </div>
            </div>
            <div class="footer-banner__part">
                <img src="/assets/img/footer-banner-right.png" alt="banner-img" class="bg-img" loading="lazy">
                <div class="footer-banner__info">
                    <span class="label label--white">Локация</span>
                    <h3 class="h3">Адреса наших магазинов</h3>
                    <a href="" class="button--link">Найти  <i class="icon">→</i></a>
                </div>
            </div>
        </div>
    </div>
</section>