<section class="grid-banner">
    <div class="container">
        <div class="grid-banner__wrapper">
            <div class="grid-banner__top">
                <img src="/assets/img/grid-banner-top.jpg" alt="" class="bg-img" loading="lazy">
                <div class="grid-banner__top-info">
                    <h3 class="h3">Milan Fashion Week 26</h3>
                    <a href="" class="button--link">Смотреть  <i class="icon">→</i></a>
                </div>
            </div>
            <div class="grid-banner__bottom">
                <div class="grid-banner__bottom-left">
                    <img src="/assets/img/grid-banner-bottom-left.jpg" alt="" class="bg-img" loading="lazy">
                    <div class="grid-banner__bottom-info">
                        <span class="label label--white">Новое поступление</span>
                        <h3 class="h3">Milan Fashion Week 26</h3>
                        <a href="" class="button--link">Смотреть  <i class="icon">→</i></a>
                    </div>
                </div>
                <div class="grid-banner__bottom-right">
                    <img src="/assets/img/grid-banner-bottom-right.png" alt="" class="bg-img" loading="lazy">
                    <div class="grid-banner__bottom-info">
                        <span class="label label--green">Новое поступление</span>
                        <h3 class="h3">Milan Fashion Week 26</h3>
                        <a href="" class="button--link">Смотреть  <i class="icon">→</i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>