<div class="product-item">
    <a href="" class="product-item__image">
        <div class="product-item__bar">
            <div class="favorite">
                <img src="/assets/img/like-o.svg" alt="" loading="lazy" class="favorite-o">
                <img src="/assets/img/like-f.svg" alt="" loading="lazy" class="favorite-f">
            </div>
        </div>
        <swiper-container 
            class="product-item__images-slider" 
            nested="true" 
            resistance-ratio="0"
            slides-per-view="1" 
            space-between="0" 
            >
            <swiper-slide>
                <img src="/assets/img/img_2.png" alt="" loading="lazy">
            </swiper-slide>
            <swiper-slide>
                <img src="/assets/img/img.png" alt="" loading="lazy">
            </swiper-slide>
        </swiper-container>
        <div class="inner-nav">
            <button class="inner-prev swiper-button-prev "><img src="/assets/img/arrow-prev.svg" alt=""></button>
            <button class="inner-next swiper-button-next"><img src="/assets/img/arrow-next.svg" alt=""></button>
        </div>
    </a>
    <div class="product-item__info">
        <a href="" class="product-item__title">Джемпер черный объемные плечи Essentiel</a>
        <div class="price">
            <div class="current">38 900 ₽</div>
            <div class="old">48 900 ₽</div>
        </div>
        <ul class="product-item__variants">
            <li class="active">
                <img src="/assets/img/variants/Ellipse_black.png" alt="">
            </li>
            <li>
                <img src="/assets/img/variants/Ellipse_white.png" alt="">
            </li>
            <li>
                <img src="/assets/img/variants/Ellipse_pink.png" alt="">
            </li>
        </ul>
    </div>
</div>