<div class="product-item">
    <a href="" class="product-item__image">
        <div class="product-item__bar">
            <span class="label label--black">Новинка</span>
            <div class="favorite">
                <img src="/assets/img/like-o.svg" alt="" loading="lazy" class="favorite-o">
                <img src="/assets/img/like-f.svg" alt="" loading="lazy" class="favorite-f">
            </div>
        </div>
        <img src="/assets/img/img.png" alt="" loading="lazy">
    </a>
    <div class="product-item__info">
        <a href="" class="product-item__title">Джемпер черный объемные плечи Essentiel</a>
        <div class="price">
            <div class="current">38 900 ₽</div>
            <div class="old">48 900 ₽</div>
        </div>
        <ul class="product-item__variants">
            <li class="active">
                <img src="/assets/img/variants/Ellipse_black.png" alt="">
            </li>
            <li>
                <img src="/assets/img/variants/Ellipse_white.png" alt="">
            </li>
            <li>
                <img src="/assets/img/variants/Ellipse_pink.png" alt="">
            </li>
        </ul>
    </div>

</div>